@import '../../../styles/variables.css';

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 9999;
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: var(--neutral-950);
  border-radius: 12px;
  border: 1px solid var(--neutral-800);
  padding: 1.5rem;
  width: 90%;
  max-width: 400px;
}
